<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment</title>

</head>
<body >
  <div nf>
  <button id="close" ><i class="bi bi-x-square-fill" (click)="closeDialog()"></i></button>
  <h1 mat-dialog-title style="margin-left: 200px; color: green;">Choose payment type:</h1>

  <div id="div1">

    <div id="div2" mat-dialog-content>
      <span>
        <img src="../../../assets/operation.png" alt="upi"  (click)="openDialog('upi')" width="50%">
      </span>
      <span>
        <img src="../../../assets/debit-card.png" alt="card" (click)="openDialog('card')">
      </span>
      <span>
        <img src="../../../assets/cash-payment.png" alt="cash" (click)="openDialog('cash')">
      </span>
    </div>
  </div>

</div>
</body>
</html>
