<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Action</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of emplpoyeeList">
      <td>
        <div class="d-flex align-items-center">
          <div class="ms-3">
            <p class="fw-bold mb-1">{{employee.employee_name}}</p>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1">{{employee.email_id}}</p>
      </td>
      <td>
        <span class="badge badge-success rounded-pill d-inline" [ngStyle]="{'background-color':employee.role=='admin' ? 'green':'#FF5900'}" >{{employee.role}}</span>
      </td>
      <td>
        emploeyee<mat-slide-toggle
                    class="example-margin"
                    [checked]="employee.role=='admin'? true:false"
                    [disabled]="employee.email_id=='aravind123@gmail.com'"
                    (change)="chaingRole(employee.email_id)"
                    >admin</mat-slide-toggle>
      <td>
        <button type="button" class="btn btn-link btn-sm btn-rounded">
          <i class="fa-solid fa-trash-can-arrow-up fa-fade" style="color: #ff0000;" (click)="deleteEmployee(employee.email_id)"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

dvfdvdvdv
<img [src]="imageUrl" alt="Uploaded Image">
<button (click)="getImage()">dfvdvd</button>

