<form #form="ngForm" (ngSubmit)="addPrice(form)">
  <div class="card">
    <div class="card-body">
      <div class="form">
        <h1 style="text-align: center; color: #d73925;">Price</h1>
        <div class="form-group">
          <label><b>Select a building</b></label>
          <select class="form-control" name="building" placeholder="Select a building" [(ngModel)]="selectedbuilding">
            <option *ngFor="let name of buildings" [value]="name.building_id">{{ name.building_name }} - {{name.location}}</option>
          </select>
        </div>
        <div class="form-group">
          <label><b>Select a Day</b></label>
          <select class="form-control" name="day_type"  placeholder="Enter the Day" [(ngModel)]="selectedDay"  placeholder="location of the building">
            <option>normal</option>
            <option>weekend</option>
          </select>
        </div>
        <div class="form-group">
          <label><b>Select a Vehicle</b></label>
          <select  class="form-control" name="vehicle_type" [(ngModel)]="selectedVehicle">
            <option value="two_wheeler">Two Wheeler</option>
            <option value="four_wheeler">Four Wheeler</option>
          </select>
        </div>
        <div class="form-group">
          <label><b>Enter the Price</b></label>
          <input type="number" class="form-control" placeholder="Enter the Price" name="price" [(ngModel)]="enteredPrice">
        </div>
        <button class="addButton">Add Price</button>
      </div>
    </div>
  </div>
</form>
