<header *ngIf="!chekingAdminLoginStatus()">
  <nav style="background-color: #1f2026;" class="navbar navbar-expand-lg navbar-dark ">
    <div class="">
      <img src="../assets/parking-sign.png" alt="" height="50px" width="50px"><h5 class="name-of-comp"> <span class="letter">S</span>mart  <span class="letter">P</span>arking  <span class="letter">S</span>ystem</h5>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a style="color: white;" class="nav-link"routerLink="/home"> <img src="../assets/home.png"  class="icon" srcset="">Home</a>
        </li>
        <li class="nav-item">
          <a style="color: white;" class="nav-link"routerLink="/home"> <img src="../assets/information.png"  class="icon" srcset="">About</a>
        </li>
        <li class="nav-item">
          <a  style="color: white;  " class="nav-link" href="#">Content</a>
        </li>
        <li class="nav-item" *ngIf="loginStatus()" >
           <a  style="color: white;  " class="nav-link" routerLink="/employee/employee/choosebuilding">Buildings</a>
        </li>
        <li class="nav-item">
          <a  style="color: white;" class="nav-link"  routerLink="/login" *ngIf="!loginStatus()">Login</a>

          <!-- <a><i class="fa-solid fa-user"  style="color: #f54100; width: 50px; height: 50px;" *ngIf="loginStatus()" routerLink="/userdetails"></i>details</a> -->
          <img src="../assets/profile.png" alt="" class="userdetails" *ngIf="loginStatus()" routerLink="/userdetails">
        </li>
      </ul>
    </div>
  </nav>
</header>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<router-outlet></router-outlet>

