<body>
  <mat-card>
      <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <mat-form-field>
          <input matInput placeholder="Enter vehicle number" [(ngModel)]="vehicle.vehicle_no" name="vehicle_no" required>
          <mat-error *ngIf="isInput1Empty()">Vehicle number is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter fine amount" [(ngModel)]="vehicle.fine_amount" name="fine_amount" type="number" required>
          <mat-error *ngIf="isInput2Empty()">Enter fine amount</mat-error>
        </mat-form-field>
        <div>
        <button mat-raised-button color="primary" type="submit"  class="custom-button">Submit</button>
        <button mat-raised-button color="warn" type="button" (click)="resetForm(form)" class="custom-button">Reset</button>
      </div>
      </form>
    </mat-card>
</body>
