<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <form class="login-form" [formGroup]="form" (ngSubmit)="saveLogin()" [noValidate]="true">
                <h2>Login</h2>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email_id" placeholder="Enter email" [(ngModel)]="login.email_id" name="email"  formControlName="email"
                         [ngClass]="{ 'is-invalid': (submitted && f['email'].errors) || (f['email'].touched && f['email'].errors) }">
                         <div *ngIf="submitted || f['email'].touched && f['email'].errors" class="invalid-feedback">
                          <div *ngIf="f['email'].errors?.['required']">Email is mandatory</div>
                          <div *ngIf="f['email'].errors?.['email']">Email must be a valid email address</div>
                        </div>
                      </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password"[(ngModel)]="login.password" name="password" formControlName="password"
                        [ngClass]="{ 'is-invalid': (submitted && f['password'].errors) || (f['password'].touched && f['password'].errors)}">
                        <div *ngIf="submitted || f['password'].touched && f['password'].errors" class="invalid-feedback">
                          <div *ngIf="f['password'].errors?.['required']">Password is mandatory</div>
                          <div *ngIf="f['password'].errors?.['minlength']">Min 6 letter required</div>
                          <div *ngIf="f['password'].errors?.['pattern']">Please, Remove space's</div>
                       </div>
                      </div>
                      <div>
                    <button type="submit" class="btn btn-primary btn-block login-btn">Login</button>
                      </div>
                   <br><br>
                    <div class="login-link">
                        Don't have an account? <a routerLink="/register"><span class="signUp">Sign up</span></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </div>

