<div class="main">
  <div class="row">
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Entry Point</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
            <img src="../../../assets/entry-point.jpg" alt="" width="90%"  height="170px">
          </p>
          <a class="btn btn-primary"   (click)="choosingSections('Entry')">Go to Entry Point</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Visiting Point</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
            <img src="../../../assets/Screenshot (69).png" alt="" width="90%"  height="170px">
          </p>
          <a  class="btn btn-primary"  (click)="choosingSections('visiting')">Go to visiting</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Exit Point</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
            <img src="../../../assets/Exit-point.jpg" alt="" srcset="" width="90%" height="170px">
          </p>
          <a href="#" class="btn btn-primary"  (click)="choosingSections('Exit')">Go to Exit Point</a>
        </div>
      </div>
    </div>
  </div>
</div>
