/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.main{
  background-color:  rgb(134,145,147);
  height: 89.3vh;
 }
 .icon{
  margin-top: -6px;
  width: 25px;
  height: 25px;
 }
